<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Vampires</h1>
    <ul class="rappers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="rapper">
            <span><%= info[i].givenName %></span>
            <span><%= info[i].alsoKnownAs %></span>
            <span><%= info[i].clan %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Vampire:</h2>

    <form action="/addVamp" method="POST">
        <input type="text" placeholder="Given Name" name="givenName">
        <input type="text" placeholder="Aliases" name="alsoKnownAs">
        <label for="clan">Clan:</label>
        <select id="clan" name="clan">
          <option value="Lalkavian">Malkavian</option>
          <option value="Nosferatu">Nosferatu</option>
          <option value="Toreador">Toreador</option>
          <option value="Gangrel">Gangrel</option>
          <option value="Banu Haqim">Banu Haqim</option>
          <option value="Brujah">Brujah</option>
          <option value="Hecata">Hecata</option>
          <option value="Lasombra">Lasombra</option>
          <option value="The Ministry">The Ministry</option>
          <option value="Ravnos">Ravnos</option>
          <option value="Salubri">Salubri</option>
          <option value="Tremere">Tremere</option>
          <option value="Tzimisce">Tzimisce</option>
          <option value="Ventrue">Ventrue</option>
          <option value="Thin Blood">Thin Blood</option>
          <option value="Catiff">Catiff</option>
        </select>
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
